<h1>Scrabble<sup>&reg;</sup> word value finder</h1>
<form action='/results'>
  <label for="word">Enter your word:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Check</button>
</form>
