<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble&reg; Word Value Finder</title>
    <link rel='stylesheet' href='styles/style.css' type='text/css'/>
  </head>
  <body ontouchstart>

  <%= yield %>

  </body>
</html>
