<h1>Scrabble<sup>&reg;</sup> word value finder</h1>
<p>The total value for <span>&ldquo;<%= @word %>&rdquo;</span> will score at least <strong><%= @total %> points</strong> in Scrabble<sup>&reg;</sup>.</p>
